.txt-center {
  text-align: center;
  font-family: auto;
  color: white;
}

.mainBody {
  display: flex;
  flex-direction: row;
}

.searchBarPart {
  width: 25vw;
}

.displayInfoPart {
  width: 75vw;
}

form.example-form.ng-untouched.ng-pristine.ng-valid {
  text-align: center;
}

.displayInfoPart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background: black;
  height: 80vh;
  overflow: scroll;
}

.displayInfoPart::-webkit-scrollbar {
  display: none;
}

mat-card.mat-card.mat-focus-indicator.battleCard.ng-star-inserted {
  width: 335px;
  margin-top: 2%;
  margin-bottom: 1%;
}

.mat-card-title {
  color: white;
  padding-top: 12px;
}

td.entity {
  color: black;
  font-weight: 500;
}

.preText {
  margin-top: 25%;
  color: white;
}

.headerPart {
  background: black;
}

mat-card-header.mat-card-header {
  background: black;
}

#cardContents {
  margin-top: 12px;
}
